@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* ✅ Define font utility */
.font-inter {
  font-family: "Inter", sans-serif;
}

/* ✅ Custom Tailwind component */
@layer components {
  .btn-gradient {
    @apply bg-gradient-to-r from-[#EF7C47] to-[#D33C1F] relative overflow-hidden lg:px-6 text-xl py-2 rounded-full text-white;
  }
}


.btn-gradient::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: white;
  z-index: -1;
  transition: width 0.3s ease-in-out;
}

.btn-gradient:hover::before {
  width: 100%;
}
