@import "tailwindcss";

/* ✅ Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Responsive section start */
@theme {
  --breakpoint-xs: 480px; /*Apply between 480px to 640px screen width*/
  --breakpoint-sm: 640px; /*Apply between 640px to 768px screen width*/
  --breakpoint-md: 768px; /*Apply between 768px to 1024px screen width*/
  --breakpoint-lg: 1024px; /*Apply between 1024px to 1280px screen width*/
  --breakpoint-xl: 1280px; /*Apply between 1280px to 1536 screen width*/
  --breakpoint-xxl: 1536px; /*Apply greater than 1536px screen width*/
}
/* Responsive section end */

/* ✅ Define font utility */
.font-inter {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0e0f11;
  font-family: "Inter", sans-serif;
}

/* ✅ Custom Tailwind component */
@layer components {
  .btn-gradient {
    @apply bg-gradient-to-r from-[#EF7C47] to-[#D33C1F] relative overflow-hidden lg:px-3 text-xl py-2 rounded-full text-white;
  }
}

.gradient-bg {
  background: url("../src/assets/feature-shape1_1.png");
  background-size: cover;
  background-position: center;
}

.card-testimonial {
  background: url("./assets/testimonial-card.png");
  background-size: cover;
}

.bg-success {
  background: url("./assets/cta-shape1_2.png");
  background-size: cover;
}
